.nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 1rem 0;
    background-color: var(--primary-dark);
}

.nav__link {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
}

.nav__link--active,
.nav__link:hover {
    color: var(--secondary);
}